*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #e2b808;
    --secondary-color: #0ead69;
}

body{
    overflow-x: hidden;
}

@font-face {
    font-family: blanka;
    src: url(Blanka-Regular.otf);
}

.hero{
    width: auto;
    height: 95vh;
    overflow: hidden;
}

.hero > video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.hero > img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -2;
}

#mask{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,  251, 251, 0.5);
    z-index: -1;
}

#cursor-mask{
    position: absolute;
    height: 600%;
    pointer-events: none;
    width: 600%;
    top: -300px;
    left: -300px;
    z-index: -1;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.logo-wrapper{
    height: 100px;
    width: 100px;

}

.logo-wrapper > img{
    height: 100%;
}

.header{
    margin: 35px 20px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100px;
}

.nav-bar{
    padding: 30px;
}

.nav-bar-items > li > a{
    padding: 5px;
    font-family: Helvetica, sans-serif, Arial;
    color: black;
    text-decoration: none;
    position: relative;
}

.nav-bar-items > li > a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    transform-origin: bottom center;
    transition: transform 0.25s ease-in-out;
    transform: scaleX(0);
}

.nav-bar-items > li > a:hover::after{
    transform: scaleX(1);
}

.nav-bar-items{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-bar > a:hover{
    cursor: pointer;
}

.main-content{
    display: flex;
    align-items: center;
    height: calc(95vh - 135px);
}

.main-content-wrapper{
    font-family: blanka;
    margin-left: 40px;
    margin-bottom: 60px;
    font-size: 5vw;
}

.about-us-section{
    height: 95vh;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--primary-color);
    box-shadow: 0px 0px 100px 20px rgba(0, 0, 0, 1);
    padding: 20px;
    position: relative;
}

.text-side{
    display: grid;
    grid-template-rows: 1fr 4fr;
    justify-items: center;
    align-items: start;
}

.text-side > h1{
    font-size: 4.5vw;
    font-family: 'Abril Fatface', serif;
    font-weight: 10;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.div-textbox{
    font-size: 2vw;
    font-family: roboto;
    text-align: justify;
    padding: 40px;
}

.image{
    height: 100%;
    width: 100%;
}

.image-side{
    padding: 30px;
    height: calc(95vh - 100px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2.5vw;
    row-gap: 2.5vw;
}

.container-image{
    border-radius: 20px;
    object-fit: contain;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

#container-image-1{
    grid-column-start: 1;
    grid-column-end: 3;
}

#container-image-2{
    grid-column-start: 1;
    grid-column-end: 2;
}

#container-image-3{
    grid-column-start: 2;
    grid-column-end: 3;
}

.latest-activities-section{
    height: 95vh;
    width: 100%;
    background-color: var(--secondary-color);
}

.latest-activities-heading-wrapper{
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 2.5em;
    font-weight: 300;
}

.activities-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75.5vh;
    padding: 0px 90px;
}

.activities{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    flex: 1;
    margin: 20px 20px;
    background-color: rgb(27, 27, 27);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
    color: antiquewhite;
}

.cards > img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.cards > h2{
    margin: 10px 0px;
    padding: 0px 20px;
    font-size: 28px;
}

.cards > p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 20px;
    margin-bottom: 20px;
}
